@import url(base.css);

@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
    .btn-danger  {
        @apply p-5
    }

    /* Input */
    .input {
        @apply border-solid border-2 border-sky-500 rounded-sm outline-none px-4 py-2 w-56
    }
}